* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  max-width: 1200px;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  width: 100%;
  background: goldenrod;
  text-align: center;
}

button {
  font-size: 2.5rem;
  color: green !important;
text-transform: uppercase;
background: white;
padding: 20px;
border: 4px solid yellow !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}
button:hover {
  color: black !important;
  border-radius: 50px;
  border-color: whitesmoke !important;
  transition: all 0.3s ease 0s;
  }

input[type='text'] {
  font-size: 2.5rem;
  font-weight: 50%;
  color: black;
}

.timer {
  display: flex;
  min-height:90vh;
  background: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}

.timer_controls {
  display: flex;
  backdrop-filter: blur(2px);
}

.timer_controls > * {
  border: 2px solid white;
  text-shadow: 2px 2px 3px white;
  flex: 1;
}

.timer_controls form {
  flex: 1;
  display: flex;
}

.timer_controls input {
  flex: 1;
  border: 0;
  padding: 2rem;
  background: #0f0f0f;
}

.timer_btn {
  background: none;
  border: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.timer_btn:hover,
.timer_btn:focus {
  background: rgba(0, 0, 0, 0.5);
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.display_countdown {
  font-weight: 800;
  font-size: 25rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 2px rbga(0, 0, 0, 0.05);
}

.display_return-time {
  font-weight: 500;
  font-size: 5rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.stop-btn {
  padding: 10px 20px;
  background-color: #ff6344;
}

.reset-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 174, 255);
}
@media(max-width: 500px){
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .timer {
    flex-direction: column;
    width: 75%;
  }
}